/*

!/.gitignore
!/.gitmodules
!/README.md
!/.setsymfunc.sh
!/.setsymlist
!/setsym.sh

!/misc/
/misc/*
!/misc/root/
/misc/root/*
!/misc/root/etc/
/misc/root/etc/*
!/misc/root/etc/X11/
/misc/root/etc/X11/*
!/misc/root/etc/systemd/
/misc/root/etc/systemd/*
!/misc/root/etc/systemd/system/
/misc/root/etc/systemd/system/*
!/misc/default/
/misc/default/*
!/misc/default/XDG_CONFIG_HOME/
/misc/default/XDG_CONFIG_HOME/*
!/misc/default/XDG_CONFIG_HOME/fontconfig/
/misc/default/XDG_CONFIG_HOME/fontconfig/*
!/misc/default/XDG_CONFIG_HOME/awesome/
/misc/default/XDG_CONFIG_HOME/awesome/*
!/misc/default/XDG_CONFIG_HOME/awesome/themes/
/misc/default/XDG_CONFIG_HOME/awesome/themes/*
!/misc/default/HOME/
/misc/default/HOME/*
!/misc/default/HOME/.vimperator/
/misc/default/HOME/.vimperator/*
!/misc/default/HOME/.vimperator/info/
/misc/default/HOME/.vimperator/info/*
!/misc/default/HOME/.vimperator/plugin/
/misc/default/HOME/.vimperator/plugin/*
!/misc/default/HOME/.vimperator/colors/
/misc/default/HOME/.vimperator/colors/*
!/misc/default/HOME/.mplayer/
/misc/default/HOME/.mplayer/*
!/misc/default/HOME/.tmux.d/
/misc/default/HOME/.tmux.d/*
!/misc/default/HOME/.vim/
/misc/default/HOME/.vim/*
!/misc/default/HOME/.vim/vundle.git/
/misc/default/HOME/.vim/vundle.git/*
!/misc/default/HOME/.vim/bundle/
/misc/default/HOME/.vim/bundle/*
!/misc/default/HOME/.vim/syntax/
/misc/default/HOME/.vim/syntax/*
!/misc/default/HOME/.zsh/
/misc/default/HOME/.zsh/*
!/misc/default/HOME/.zsh/functions/
/misc/default/HOME/.zsh/functions/*
!/misc/default/HOME/.proxychains/
/misc/default/HOME/.proxychains/*
!/misc/firefox/
/misc/firefox/*
!/misc/firefox/chrome/
/misc/firefox/chrome/*
!/misc/firefox/searchplugins/
/misc/firefox/searchplugins/*
# --- ignore ---

!/misc/root/etc/X11/xorg.conf
!/misc/root/etc/eixrc
!/misc/root/etc/motd
!/misc/root/etc/ntp.conf
!/misc/root/etc/make.conf
!/misc/root/etc/eix-sync.conf
!/misc/root/etc/resolv.conf
!/misc/root/etc/systemd/system/wpa_supplicant@wlan0.service
!/misc/default/XDG_CONFIG_HOME/fontconfig/fonts.conf
!/misc/default/XDG_CONFIG_HOME/awesome/rc.lua
!/misc/default/XDG_CONFIG_HOME/awesome/themes/theme.lua
!/misc/default/XDG_CONFIG_HOME/awesome/themes/background.svg
!/misc/default/HOME/.vimperator/plugin/pluginManager.js
!/misc/default/HOME/.vimperator/plugin/statusline-toolbar.js
!/misc/default/HOME/.vimperator/plugin/_libly.js
!/misc/default/HOME/.vimperator/plugin/copy.js
!/misc/default/HOME/.vimperator/plugin/statusline-ssl.js
!/misc/default/HOME/.vimperator/plugin/appendAnchor.js
!/misc/default/HOME/.vimperator/plugin/hints-ext.js
!/misc/default/HOME/.vimperator/plugin/stella.js
!/misc/default/HOME/.vimperator/plugin/walk-input.js
!/misc/default/HOME/.vimperator/colors/vimPgray.vimp
!/misc/default/HOME/.vimperator/gplug.sh
!/misc/default/HOME/.mplayer/config
!/misc/default/HOME/.mplayer/input.conf
!/misc/default/HOME/.emacs
!/misc/default/HOME/.tmux.d/status_cpu.sh
!/misc/default/HOME/.tmux.d/status_net.sh
!/misc/default/HOME/.tmux.d/status_mem.sh
!/misc/default/HOME/.Xresources
!/misc/default/HOME/.xinitrc
!/misc/default/HOME/.curlrc
!/misc/default/HOME/.muttrc
!/misc/default/HOME/.vim/syntax/vimperator.vim
!/misc/default/HOME/.tmux.conf
!/misc/default/HOME/.mailcap
!/misc/default/HOME/.vimrc
!/misc/default/HOME/.Xmodmap
!/misc/default/HOME/.urlview
!/misc/default/HOME/.fbtermrc
!/misc/default/HOME/.uim
!/misc/default/HOME/.screenrc
!/misc/default/HOME/.zsh/functions/_zip
!/misc/default/HOME/.zsh/functions/_mplayer
!/misc/default/HOME/.xprofile
!/misc/default/HOME/.proxychains/proxychains.conf
!/misc/default/HOME/.wgetrc
!/misc/default/HOME/.gdbinit
!/misc/default/HOME/.gitconfig
!/misc/default/HOME/.vimperatorrc
!/misc/default/HOME/.dir_colors
!/misc/default/HOME/.zshrc
!/misc/default/HOME/.rtorrent.rc
!/misc/firefox/chrome/userChrome.css
!/misc/firefox/user.js
!/misc/firefox/searchplugins/google.xml
!/misc/firefox/searchplugins/yahoo-japan.xml
!/misc/firefox/searchplugins/---weblio.xml
!/misc/firefox/searchplugins/alc.xml
!/misc/firefox/searchplugins/gtrans.xml

/misc/default/HOME/.vimperator/info
/misc/default/HOME/.vim/.netrwhist
/misc/default/HOME/.vim/vundle.git
/misc/default/HOME/.vim/bundle
/misc/default/HOME/.tmux.d/tmp
