/*
/.*

!/.emacs
!/.fbtermrc
!/.fonts.conf
!/.git
!/.gitignore
!/.gitmodules
!/misc
!/README.md
!/.screenrc
!/.tmux.conf
!/.uim
!/.vim
!/.vimperator
!/.vimperatorrc
!/.vimrc
!/.wgetrc
!/.xinitrc
!/.Xresources
!/.zshrc
!/.setsymfunc.sh
!/.setsymlist
!/setsym.sh


/.vimperator/info
/.vim/.netrwhist
/.vim/bundle
